<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Polls Details</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'polls/detail.css' %}">
</head>
<body>
  <div class="main-container">
    <form action="{% url 'polls:vote' question.id %}" method="post">
      {% csrf_token %}
      <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>
        {% if error_message %}
          <p class="error-message">{{ error_message }}</p>
        {% endif %}
        {% for choice in question.choice_set.all %}
          <div class="choice-container">
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
          </div>
        {% endfor %}
      </fieldset>
      <input type="submit" value="Vote">
    </form>
  </div>
</body>
</html>
